<% if (is_home()) { %>
	<header id="header" class="header header-absolute">
<% } else {%>
	<header class="header">
<% } %>
	<div class="container">
  <script defer src="https://umami.harmonychaos.com/vivoghiRoo2eiRu7" data-website-id="d201db0b-a180-4113-8bf5-dad74e196864"></script>
		<nav class="navbar d-flex align-items-center">
			<div class=""  href="<%- url_for() %>">
				<img class="logo lazyload" style="height: 32px;"
				 data-src="<%- url_for(theme.brand) %>"
				 alt="<%= config.title %>" role="img">
				<a style="font-size: 36px;">  <%= config.title %> </a>
			</div>
			<%- partial('_partial/menu', {class_name: 'main-nav'}) %>
		</nav>
		<a id="mobile-nav-toggle">
			<span class="mobile-nav-toggle-bar"></span>
			<span class="mobile-nav-toggle-bar"></span>
			<span class="mobile-nav-toggle-bar"></span>
		</a>
	</div>
</header>
