<div class="hero">
	<figure class="hero-figure">
		<img class="hero-figure-img" src="<%- url_for(theme.hero.image) %>" alt="<%= config.title %>">
		<figcaption>
			<div class="container" style=" ">
				<div class="figure-inset">
					<h2 class="h1"><%- theme.slogan.primary %></h2>
					<p><%- theme.slogan.secondary %></p>
				</div>
			</div>
		</figcaption>
		<div class="learn-more">
			<a class="anchor" href="#landingpage">
				<img id="landingpage" src="data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='white' viewBox='0 0 16 16'><path d='M8 3a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 3zm4 8a4 4 0 0 1-8 0V5a4 4 0 1 1 8 0v6zM8 0a5 5 0 0 0-5 5v6a5 5 0 0 0 10 0V5a5 5 0 0 0-5-5z'/></svg>" alt="">
			</a>
		</div>
	</figure>

	<div id="dplayer"
	 style="width:50%; position: fixed;z-index: 999; right: 0; bottom: 160px; max-width: 600px;"></div>
	<script src="https://cdn.bootcdn.net/ajax/libs/dplayer/1.27.1/DPlayer.min.js"></script>
	<script  type="text/javascript">
		const dp = new DPlayer({
			container: document.getElementById('dplayer'),
			autoplay:true,
			loop: true,
			volume: 0.8 ,// 部分浏览器有声音不能自动播放
			video: {
				url: '<%- url_for(theme.hero.video) %>',
				pic: '<%- url_for(theme.hero.thumb) %>',
				thumbnails: '<%- url_for(theme.hero.thumb) %>',
				type: 'auto',
			},
		});
	</script>
<!-- 
	<video playsinline loop muted data-autoplay autoplay 
		style="position: fixed;z-index: 999; right: 0; bottom: 160px; max-width: 600px;"
	   width="50%" height="auto" src="<%- url_for(theme.hero.video) %>" poster="" autoplay="autoplay">
   </video> -->
</div>
